#woocommerce-catalog *{
    box-sizing: border-box;
}
#woocommerce-catalog .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#woocommerce-catalog #loader-after-sumitting-the-form {
	display:none;
}
.catalog_enquiry_form{
    display:none;
}

#woocommerce-catalog .modal-content{
	background-color: #fefefe;
	margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 600px;
    max-width: 90%;
	position: absolute;
  	left: 50%;
  	top: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow: auto;
    text-align: left;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* The Close Button */
#woocommerce-catalog .modal-header button.close {
    padding: 3px;
    cursor: pointer;
    background: transparent;
    border: 0;
    min-height: auto;
    -webkit-appearance: none;
    margin: 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

} 
/* modla header */
#woocommerce-catalog .modal-content .modal-header {
    padding: 12px 25px;
    border-bottom: 1px solid #eee;
    position: relative;
}
#woocommerce-catalog .modal-header h2{
    margin: 0;
    font-size: 18px;
    width: calc(100% - 30px);
}

/* modla body */ 
#woocommerce-catalog .modal-body input[type="file"]{
    width: auto;
    height: auto;
    max-width: 100%;
}
#woocommerce-catalog .modal-content .modal-body{
    max-height: 52vh;
    overflow: auto;
    margin: 0;
    width: 100%;
    padding: 20px 25px 0 15px;
} 
#woocommerce-catalog .cat-form-row input, #woocommerce-catalog .cat-form-row select, #woocommerce-catalog .cat-form-row textarea{
    padding: 6px 10px;
    line-height: 15px;
    font-size: 15px;
    margin: 0;
    border: solid 1px #dcdcdc;
    box-shadow: none;
    color: #5d5d5d;
    width: 100%;
    background: #fff;
    height: 38px;
}
#woocommerce-catalog .cat-form-row textarea{
    height: 100px;
}
#woocommerce-catalog p:empty {
    display: none;
}
#woocommerce-catalog p{
    margin: 0 0 7px;
    line-height: 1.2;
} 
#woocommerce-catalog .cat-form-row{
    position: relative;
}
#woocommerce-catalog .cat-form-row label{
    margin: 0 0 6px;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    color: #616161;
}
#woocommerce-catalog .cat-form-row{
    margin: 0 0 15px;
}
#woocommerce-catalog p.catalog-enquiry-top-content, #woocommerce-catalog p.catalog-enquiry-bottom-content{
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 18px;
    color: #313131;
}
#woocommerce-catalog p.catalog-enquiry-bottom-content{
    margin: 20px 0;
}
#woocommerce-catalog .captcha-wrap{
    background:#000; 
    color:#fff; 
    border:1px solid #333; 
    padding:5px; 
    letter-spacing: 5px; 
    font-size:18px;
    display: inline-block;
    vertical-align: middle;
}
#woocommerce-catalog .woocommerce-catalog-enquiry-btn{
    float: none;
    width: auto;
}
/* modal footer */
#woocommerce-catalog .modal-content .modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    z-index: 1;
    position: relative;
}

#woocommerce-catalog .modal-footer button{
    margin: 0 0 0 15px;
    padding: 5px 15px;
    width: 110px;
    height: auto;
    min-height: auto;
    line-height: 25px;
    font-size: 16px;
    border: 1px solid #555555;
    font-weight: normal;
    background: #fff;
    color: #555555;
    box-shadow: none;
    text-transform: uppercase;
}
#woocommerce-catalog .modal-footer button:hover{
    background: #555;
    color: #fff;
}
@media screen and (max-width:768px){
    #woocommerce-catalog .modal-content .modal-footer{
        text-align: center;
    }
    #woocommerce-catalog .modal-content .modal-footer button{
        padding: 2px 15px;
        width: 77px;
        font-size: 14px;
    }
    #woocommerce-catalog .modal-content .modal-header {
        padding: 8px 10px;
    }
    #woocommerce-catalog .modal-content .modal-body{
        padding: 15px 15px 0 5px;
    }
    #woocommerce-catalog .modal-header h2{
        font-size: 16px;
    }
    #woocommerce-catalog .cat-form-row label{
        font-size: 14px;
    }
    #woocommerce-catalog .modal-content .modal-footer {
        padding: 10px 15px;
    }
    #woocommerce-catalog .cat-form-row input, #woocommerce-catalog .cat-form-row select, #woocommerce-catalog .cat-form-row textarea{
        height: 33px;
    }
    #woocommerce-catalog .cat-form-row textarea {
        height: 70px;
    }
}
 
/* toogle form */
#woocommerce-catalog .catalog_enquiry_form:focus{
    outline: none;
}
#woocommerce-catalog .catalog_enquiry_form{
    background: #f1f1f1;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
    clear: both;
}
#woocommerce-catalog .catalog_enquiry_form .modal-header h2{
    margin: 0 0 15px;
    width: 100%;
}
#woocommerce-catalog .catalog_enquiry_form .modal-footer button{
    margin: 0;
}
#msg-for-enquiry-error {
    color:#f00; text-align:center;
}
#msg-for-enquiry-sucesss {
    color:#0f0; text-align:center;
}
#loader-after-sumitting-the-form {
    text-align:center;
}